.boxButtonCriar {
    width: 100%;
    height: 10rem;
    margin-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;

    .buttonCriar {
        width: 9rem;
        height: 4rem;
        border-style: none;
        background: transparent;
        border-radius: 0.5rem;
        border: 1px solid var(--pink);
        font-family: Newsreader, sans-serif;
        font-weight: 500;
        font-size: 1.8rem;
        color: var(--pink);
        cursor: pointer;
        transition: all .3s;
        
        &:hover {
            background: var(--purple);
            color: white;
        }
    }
}
