.contentBackground {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.boxModal {
    z-index: 2;
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 440px;
    height: auto;
    padding: 2rem;
    background: white;
    border-radius: 5%;
    font-family: Newsreader, sans-serif;
    font-weight: 500;
    

    .boxButtonCriar {
        width: 100%;
        height: 10rem;
        margin-top: 5rem;
        display: flex;
        align-items: center;
        justify-content: center;

        .buttonCriar {
            width: 9rem;
            height: 4rem;
            border-style: none;
            background: transparent;
            border-radius: 0.5rem;
            border: 1px solid var(--pink);
            font-family: Newsreader, sans-serif;
            font-weight: 500;
            font-size: 1.8rem;
            color: var(--pink);
            transition: all .3s;
            
            &:hover {
                background: var(--purple);
                color: white;
            }
        }
    }
    


    h2 {
        text-align: center;
    }

    .boxButtonFechar {
        height: 3rem;
        width: 100%;
        display: flex;
        justify-content: flex-end;

        .buttonFechar {
            width: 3rem;
            height: 100%;
            border-style: none;
            font-size: 1.8rem;
            background: transparent;
        }
    }

    .boxInput {
        display: flex;
        margin: 1rem;
        height: 2rem;
        font-size: 1.6rem;

        span {
            margin-right: 1rem;
        }

        input {
            border-style: none;
            outline: none;
            border-bottom: 1px solid var(--pink);
            width: 100%;
        }
    }

    .boxInputTextArea {
        display: flex;
        margin: 1rem;
        height: 2rem;
        font-size: 1.6rem;

        textarea {
            border-style: none;
            padding: 0.5rem;
            height: 8rem;
            outline: none;
            border-bottom: 1px solid var(--pink);
            font-family: Newsreader, sans-serif;
            font-weight: 500;
            font-size: 1.6rem;
            width: 100%;
            resize: none;
        }
    }
}