.containerHome {
    width: 100%;
    height: 100%;
    padding: 2rem 4rem;


    .containerFilmes {
        width: 100%;
        height: 100%;
        padding: 2rem;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .boxEditar {
        position: relative;

        .boxButtonsEdit {
            width: 5.5rem;
            height: 5.5rem;
            border-radius: 50%;
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            background: var(--pink);
            z-index: 2;
            top: 40px;
            right: -10px;
            transition: all .3s;
    
            &:hover {
                background: #ff5db6;                
            }
        }
    
        .boxButtonsDelete {
            width: 5.5rem;
            height: 5.5rem;
            border-radius: 50%;
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            background: var(--pink);
            z-index: 2;
            top: 100px;
            right: -10px;
            transition: all .3s;
    
            &:hover {
                background: #ff5db6;                
            }
        }
    }
}

