.containerHome {
    width: 100vw;
    height: 100%;
    padding: 2rem 4rem;
    font-family: Newsreader, sans-serif;



    header {
        display: flex;
        align-items: center;
        width: 100%;
        height: 6rem;

        h1 {
            color: var(--pink);
            font-family: Newsreader, sans-serif;
            font-weight: 500;
        }
    }

    .containerFilmes {
        width: 100%;
        height: 100%;
        padding: 2rem;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .boxFilmes {
        width: 275px;
        height: 300px;
        flex: 1 1 250px;
        min-width: 230px;
        max-width: 275px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        cursor: pointer;
        margin: 1.5rem;
        border-radius: 5%;
        transition: all .3s ease-in-out;

        .boxImage {
            width: 275px;
            height: 210px;
        }

        .boxInfo {
            text-align: center;
            padding: 1rem 1.2rem;
            border-radius: 0.5rem;
            background: rgba(0, 0, 0, 0.5);
        }

        img {
            width: 100%;
            height: 300px;
            object-fit: cover;
            border-radius: 5%;
        }

        h2 {
            font-weight: 500;
            color: white;
            margin: 0 1rem;
        }

        p {
            font-size: 1.6rem;
            color: white;
            text-align: justify;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}
