.contentBackground {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.boxButtonCriar {
    width: 100%;
    height: 10rem;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;

    .buttonCriar {
        width: 9rem;
        height: 4rem;
        border-style: none;
        background: transparent;
        border-radius: 0.5rem;
        border: 1px solid var(--pink);
        font-family: Newsreader, sans-serif;
        font-weight: 500;
        font-size: 1.8rem;
        color: var(--pink);
        cursor: pointer;
        transition: all .3s;
        
        &:hover {
            background: var(--purple);
            color: white;
        }
    }
}

@media (max-width: 515px) {
    
    .boxModal {
        top: 100px;
        width: 400px;
        height: 500px;
        margin: 0 auto;
        overflow-y: scroll;
    }
}

@media (max-width: 480px) {
    
    .boxModal {
        top: 35px;
        width: 335px;
        height: 580px;
        margin: 0 auto;
        overflow-y: scroll;
    }
}