.boxFilmes {
    width: 280px;
    height: 390px;
    flex: 1 1 250px;
    min-width: 250px;
    max-width: 280px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding: 1rem 2rem;
    cursor: pointer;
    margin: 1.5rem;
    border-radius: 5%;
    font-family: Newsreader, sans-serif;
    font-weight: 500;
    background: var(--purple);
    transition: all .3s ease-in-out;

    h2 {
        font-weight: 500;
        color: white;
        align-self: center;
        margin: 1.4rem 0;
    }

    p {
        font-size: 1.6rem;
        color: white;
        width: 220px;
        margin: 1.6rem 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &:hover {
        box-shadow: 5px 5px 5px 2px rgb(17, 16, 16);
    }

    .boxButtons {
        width: 100%;
        height: 3rem;
        display: flex;
        justify-content: flex-end;
    }
}