.containerHeader {
    width: 100vw;
    height: 90px;
    padding: 4rem;
    align-items: center;
    justify-content: space-between;
    display: flex;
    background: var(--purple);

    h1 {
        font-family: Newsreader, sans-serif;
        font-weight: 500;
        color: var(--pink);
    }

    .boxBuntton {
        gap: 0.5rem;

        button {
            width: 8rem;
            height: 4rem;
            border-style: none;
            border-radius: 0.5rem;
            margin-left: 1rem;
            background: transparent;
            font-size: 1.6rem;
            color: white;
            transition: all .3s;

            &:hover {
                border: 1px solid var(--pink);
            }
        }
    }
}