.containerHeader {
    width: 100vw;
    height: 90px;
    padding: 0 4rem;
    align-items: center;
    justify-content: space-between;
    display: flex;
    background: var(--purple);

    h1 {
        font-family: Newsreader, sans-serif;
        font-weight: 500;
        color: var(--pink);
    }

    .boxBuntton {
        gap: 0.5rem;

        button {
            width: 8rem;
            height: 4rem;
            border-style: none;
            margin-left: 1rem;
            font-size: 1.6rem;
            text-decoration: none;
            outline: none;
            color: white;
            background: transparent;
            position: relative;
            transition: all .3s;

            &::after {
                content: '';
                width: 100%;
                height: 0.3rem;
                opacity: 0;
                border-radius: 2px;
                background: var(--pink);

                left: 0;
                bottom: 10%;
                position: absolute;
                transition: all .5s;
            }

            &:hover::after {
                bottom: 0;
                opacity: 1;
            }

            &:hover {
                text-shadow: 0px 0px 0.2rem white;
            }

        }
    }
}